# Log files
*.log
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Environment
.env*

# IDE/editor configs
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.idea
/.vscode
/.nova
/.fleet
/.zed
/auth.json

# Node + build artifacts
node_modules/
public/
storage/*.key
storage/pail
vendor/

# Laravel-specific
Homestead.json
Homestead.yaml



# Ignore image and video files globally
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.webp
**/*.ico
**/*.mp4
**/*.mov
**/*.avi
**/*.mkv
**/*.webm